{% extends 'base.html' %}
{% block title %}
{{ post.titulo_url }}
{% endblock %}

{% block content %}

<h1>{{ post.titulo }}</h1>
<small>By: {{ post.autor.first_name }} {{ post.autor.last_name }} - {{ post.data_publicada|date:"d-m-Y" }}</small>
<small>
    <a href="{% url 'editar' post.pk %}">Editar Post</a>
    <a href="{% url 'excluir' post.pk %}">Excluir Post</a>
</small><br/><br/>

{% if post.imagem %}
    <img src="{{ post.imagem.url }}" alt="Imagem do Post">
{% endif %}

<br/><br/>
{{ post.corpo|safe }}  
<br/><br/>
<h2><small>Categorias:</small></h2>
<ul>
    {% for categoria in post.categorias.all %}
        <a href="{% url 'categoria' pk=categoria.pk %}">{{ categoria.nome }}</a>{% if not forloop.last %}, {% endif %}
    {% empty %}
        Sem categoria
    {% endfor %}
</ul>

<h2><small>Comentarios</small></h2>
<br/>
{% if not post.Comentarios.all %}
    Sem comentarios ainda ...<a href="{% url 'criar_comentario' post.pk%}">
    Adicionar um</a>
{% else %}
    <br/><br/>
    <a href="{% url 'criar_comentario' post.pk%}">Adicionar Comentario</a>
    {% for comment in post.Comentarios.all %}
        <strong>
            <br/><br/>
            {{comment.nome}} - {{comment.data_adicionado | date:"d-m-Y"}}
        </strong>
        <br/>
        {{comment.corpo}}
        <br/><br/>
    {% endfor %}
{% endif %}
<br/><br/>
<a href="{% url 'home' %}" class="btn btn-secondary">Voltar</a>

{% endblock %}