{% extends 'base.html' %}

{% block content %}
<h1>Posts</h1>

<ul>
{% for post in posts %}
    <li>
        <a href="{% url 'Artigo' post.pk %}">{{ post.titulo }}</a> - {{ post.autor.first_name }} - 
        {{ post.autor.last_name }} - {{ post.data_publicada }} - <a href="#">{{ post.categoria }}</a>
        <small>
            <a href="{% url 'editar' post.pk %}">Editar Post</a>
            <a href="{% url 'excluir' post.pk %}">Excluir Post</a>
        </small>
        <br/>
        {{ post.corpo }}
    </li>
{% endfor %}
</ul>
{% endblock %}