{% extends 'base.html' %}

{% block content %}
<h1>Posts</h1>

<ul>
{% for post in posts %}
    <li>
        <a href="{% url 'Artigo' post.pk %}">{{ post.titulo }}</a>        
         <small>
            <a href="{% url 'editar' post.pk %}">Editar Post</a>
            <a href="{% url 'excluir' post.pk %}">Excluir Post</a>
        </small>
        <br/>
        Autor: {{ post.autor.first_name }}  {{ post.autor.last_name }} 
        <br/>
        Data de publicação: {{ post.data_publicada |date:"d-m-Y" }} &nbsp;&nbsp;&nbsp;&nbsp; Categoria: <a href="#">{{ post.categoria }}</a>
        <br/>
        {{ post.corpo|safe }}
    </li>
{% endfor %}
</ul>
{% endblock %}